/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

b {
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* ALEXANDERRRRRRRRRRRRRRRR */
/* Barra de navegación fija */
.container-fluid {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* BOTON DE LISTAAAAAA DE NAVVVV */
.navbar-toggler-icon img {
  width: 30px;
  height: auto;
}

/* Izquierda del nav (logo o nombre) */
.nav-left {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-left img {
  width: 80px;
}

.nav-left h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

/* Derecha del nav (enlaces) */
.nav-right ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-right li {
  margin-left: 30px;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-right a:hover {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
}

/* Estilos para la sección de imagen de inicio */
.img-inicio img {
  width: 100%;
  height: 400px;
  margin-top: 90px;
}

.hero-image img {
  margin: -11px 0px 100px;
  width: 100%;
  height: 500px;
  object-fit: stretch;
}

/* Sección de contenido */
section h2 {
  margin-top: 0;
  font-size: 22px;
}

section p {
  font-size: 16px;
  line-height: 1.6;
}





/* CESARRRRRRRRRRRRRR */
/* Quienes somos, objetivo, misión, visión */
.quienes-somos,
.objetivo,
.mision,
.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.informacion-l {
  padding: 20px;
  margin: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 5px #927c7c;
  width: 45%;
  transition: transform 0.3s ease-in-out;
}

.informacion-l:hover {
  transform: scale(1.05);
}

.informacion-i img {
  width: 400px;
  height: 350px;
  margin: 40px 40px;
  box-shadow: 0px 0px 14px 5px #000000;
  transition: transform 0.3s ease-in-out;
}

/* Estilos para el mapa */
.mapa {
  padding: 20px;
  margin: 30px auto 80px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 5px #000000;
  width: 80%;
}

.mapa h2 {
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}





/* LOHANAAAAAAAAAAAAA */
/* Estilos para la sección de precios */
.precio-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.precio-item {
  background-color: #f5f5f5;
  padding: 15px;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 5px #ebfc03;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.precio-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.precio-item p {
  margin: 5px 0;
}

.precio {
  font-size: 35px;
  font-family: cursive;
  font-weight: bold;
  color: #333;
}

.precio-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 14px 5px #ebfc03;
}





/* CAMILAAAAAAAAAAAAAAAAAAA */
/* Estilos del pie de página */





/* Responsive Styles */
@media (max-width: 1200px) {

  /* PRECIOOOOOO */
  .precio-content {
    flex-direction: column;
    align-items: center;
  }

  .precio-item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

  /* INFORMACIONNNNNN */
  .informacion-l {
    width: 80%;
    /* Reduce el ancho del contenido a 70% en pantallas pequeñas */
  }

  .informacion-i img {
    max-width: 55%;
    max-height: 250px;
    margin: 10px;
    /* La imagen ocupa 70% de la pantalla */
  }

  .quienes-somos,
  .objetivo,
  .mision,
  .vision {
    flex-direction: column;
    /* Los elementos se apilan en columna */
    text-align: center;
    /* Centra el contenido */
  }

  .informacion-i {
    order: 1;
  }

  /*MAPAAAAAAAA */
  .mapa-p {
    margin-top: 30px;
  }

  .mapa iframe {
    height: 300px;
  }

  /* PRECIOOOOOOO RESPONSIVE */
  .precio-content {
    flex-direction: column;
    align-items: center;
  }

  .precio-item {
    width: 80%;
    margin-bottom: 20px;
  }

  /* PIEEEE RESPONSIVEEEE */
  .footer-container {
    padding: 10px;
  }

  .social-icons {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {

  /* INFORMACIONNNNNN */
  .informacion-l {
    width: 80%;
  }

  .informacion-i img {
    max-width: 50%;
    max-height: 250px;
  }

  h2 {
    font-size: 1.5rem;
  }
}