.servicios-page {
    padding: 20px;
    margin-left: 70px;
    margin-top: 100px;
    flex-grow: 1;
}

/*EDITARRRR O AGREGAR TODOOOO DEBAJO DE ESTA LINEAAAAAAAAAAAAAAA */
/* RECUERDA QUE TODO LOS CSS ESTAN VINCULADO AL PARECER, NO ES COMO EN HTML O JSP QUE ES UNO SOLO EL CSS PERO EN AQUI EN TODO JUNTO EN UNO SOLO EL CSS, QUISE SEPARAR EL ESTILO PARA QUE ASI CADA UNO TENGA SU PROPIO ESTILO PERO NOSE PUDO, PROXIMAMENTE BUSCARE Y INVESTIGARE PARA HACER ESO XD */

/* COMENZARRRRRRRRRRR TU TRABAJOOOOO DE AQUIIII PARA ABAJOOOOOOOOOOOOO */
.boletas-table {
    width: 60%; 
    margin: 0 auto; 
    margin: 20px auto 0;
    border-collapse: collapse; 
}
.boletas-table th,
.boletas-table td {
    border: 1px solid #efe8e8;
    padding: 5px;
    text-align: left;
}

.boletas-table .highlight-column {
    background-color: #b1b5b5; 
    color: rgb(9, 9, 9); 
}

.boletas-table .columna {
    background-color: #cdd1d1; 
    color: rgb(9, 9, 9);

}


.boletas-table th {
    background-color: #727472; 
    color: white; 
    padding: 10px; 
    text-align: center;
}


.table-actions {
    margin-top: 20px;
    text-align: center;
}



.table-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-generate {
    background-color: #4CAF50; 
    color: white;
}

.btn-generate:hover {
    background-color: #3fb861; 
}

.btn-update {
    background-color: #3677e1; 
    color: white;
}


.btn-update:hover {
    background-color: #56a4e3; 
}

.btn-delete {
    background-color: #f44336; /* Rojo */
    color: white;
}

.btn-delete:hover {
    background-color: #d32f2f; /* Rojo más oscuro */
}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 157, 157, 0.893); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    max-width: 90%;
    max-height: 90vh; 
    overflow-y: auto; 
    position: relative; 
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #070707;
    border-radius: 4px;
}

.modal-actions {
    text-align: right;
}

.modal-actions button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #416080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions button:hover {
    background-color: #316397;
}

.btn-add {
    background-color: #4CAF50;
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.btn-add:hover {
    background-color: #3fb861;
} 

.center-button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center;     /* Centra el botón verticalmente */
}

.title-servicios{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin: 30px auto 30px auto;
    color: #333;
    vertical-align: middle;
}

.table-atributos {
    width: 200px;
}

.table-datos{
    width: 230px;
}


