.servicios-page {
    padding: 20px;
    margin-left: 70px;
    margin-top: 100px;
    flex-grow: 1;
}

/* Tabla de Boletas */
.boletas-table {
    width: 80%; 
    margin: 20px auto 0;
    border-collapse: collapse; 
}

.boletas-table th,
.boletas-table td {
    border: 1px solid #efe8e8;
    padding: 5px;
    text-align: left;
}

.boletas-table .highlight-column {
    background-color: #b1b5b5; 
    color: rgb(9, 9, 9); 
}

.boletas-table .columna {
    background-color: #cdd1d1; 
    color: rgb(9, 9, 9);
}

.boletas-table th {
    background-color: #727472; 
    color: white; 
    padding: 10px; 
    text-align: center;
}

/* Estilo de los botones de acción */
.actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.actions button {
    flex: 1;
    padding: 8px 16px; /* Botones más pequeños */
    font-size: 14px;    /* Fuente más pequeña */
    border: none;
    border-radius: 20px; /* Bordes más redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0 4px 8px rgba(221, 94, 94, 0.1); /* Sombra sutil */
}

/* Botones de acción */
.btn-generate {
    background-color: #4CAF50; 
    color: white;
    border-radius: 20px; 
    
}

.btn-generate:hover {
    background-color: #3fb861;
    box-shadow: 0 6px 12px rgba(241, 238, 238, 0.2); /* Sombra más pronunciada */
}

.btn-update {
    background-color: #3677e1; 
    color: white;
}

.btn-update:hover {
    background-color: #56a4e3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-delete {
    background-color: #f44336; /* Rojo */
    color: white;
}

.btn-delete:hover {
    background-color: #d32f2f; /* Rojo más oscuro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(160, 157, 157, 0.893); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    max-width: 90%;
    max-height: 90vh; 
    overflow-y: auto; 
    position: relative; 
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #070707;
    border-radius: 4px;
}

.modal-actions {
    text-align: right;
}

.modal-actions button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #416080;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-actions button:hover {
    background-color: #316397;
}

/* Botón para agregar boleta */
.btn-add {
    background-color: #4CAF50;
    margin-left: 10px;
    color: white;
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    padding: 8px 16px; /* Tamaño más pequeño */
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-add:hover {
    background-color: #3fb861;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el mouse */
}

/* Estilos del título */
.title-servicios {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 500px;
    margin: 30px auto;
    color: #333;
    vertical-align: middle;
}

/* Estilos de las tablas de datos */
.table-atributos {
    width: 500px;
}

.table-datos {
    width: 230px;
}

.center-button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center;     /* Centra el botón verticalmente */
    border-radius: 20px; 
} 
