/* GENERALLLLLLLLLLLLLLLL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CABEZAAAAAAAAAAAAAAAAAAAA*/
header {
  width: 100%;
  background-color: rgb(43, 166, 223);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  margin-top: -100px;

  z-index: 2;

}

h1 {
  font-size: 60px;
}

button {
  padding: 10px;
  font-family: cursive;
}

button:hover {
  background-color: yellow;
}

/* LISTAAAAAAAAAAAAAAAAAAAAA */

.vertical-menu {
  height: 100vh;
  position: fixed;
  margin-top: 100px;
  top: 0;
  left: 0;
  background-color: #9ec9f1;
  width: 70px;
  font-family: cursive;
  z-index: 2;

  /* Transición para expandir/retraer */
  transition: width 0.3s ease;
}

.vertical-menu.expanded {
  /* Ancho cuando está expandido */
  width: 200px;
}

/* Imagen de la listaaaaaaaaaaaa */
.logo-container {
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}

.logo-img {
  width: 40px;
  height: 40px;
}

/* Estilo de los elementos del menú */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  /* Transición al expandir */
  transition: padding-left 0.3s ease;
}

/* Letra inicial visible en estado colapsado */
.short-label {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  width: 40px;
}

/* Nombre completo visible solo en estado expandido */
.full-label {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-left: 11px;

  /* Transición para aparecer/desaparecer */
  transition: opacity 0.3s ease;
}


/* Estilo para el overlay (oscurecer el fondo) */
.overlay {
  position: fixed;
  top: 100px;
  left: 70px;
  right: 0;
  bottom: 0;
  display: none;

  /* Negro con opacidad */
  background-color: rgba(0, 0, 0, 0.5);

  /* Asegurarse de que esté debajo de los elementos fijos */
  z-index: 0;
}

.overlay.active {
  /* Mostrar cuando está activo */
  display: block;
}


.contenido-header {

  padding: 20px;
  margin-left: 70px;
  margin-top: 100px;
  flex-grow: 1;

}


/* NO TOCARRRRRRRRRRRR CODIGO DE AQUI PARA ARRIBA */
/* PUEDES AGREGAR DE AQUI PARA ABAJOOOOOOOOO */